html {
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1482784160316-6eb046863ece?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
}
body {
  font-family: 'Cormorant Garamond', serif;
  height: 100%;
  background: rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-shadow: 0 0 30px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 9rem;
}
a {
  color: white !important;
  text-shadow: 0 0 50px rgb(18, 66, 8);
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
a:hover > span:nth-of-type(1) {
  text-shadow: 0 0 20px rgb(255, 0, 0);
}
a:hover > span:nth-of-type(2) {
  text-shadow: 0 0 20px rgb(255, 117, 4);
}
a:hover > span:nth-of-type(3) {
  text-shadow: 0 0 20px rgb(251, 255, 4);
}
a:hover > span:nth-of-type(4) {
  text-shadow: 0 0 20px rgb(0, 255, 85);
}
a:hover > span:nth-of-type(5) {
  text-shadow: 0 0 20px rgb(50, 4, 255);
}
a span {
  font-size: 4rem;
  text-shadow: 0 0 50px rgb(255, 255, 255);
  transition: 0.5s;
}